@import "../../styles/variables";
@import "../../styles/mixin";

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 7.8125rem;
	width: 100%;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	z-index: 10;
	padding: 2rem 6rem;
}
