@import "./variables";
@mixin flex($direction, $align, $justify, $gap) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
	gap: $gap;
}
@mixin mobile {
	@media screen and (max-width: $tablet-screen) {
		@content;
	}
}
@mixin tablet {
	@media screen and (min-width: $tablet-screen) {
		@content;
	}
}
