// colors
$background-color-md: #1d2123;
$background-color-drk: #1a1e1f;
$white-color: #ffffff;
$black-color: #000000;
$danger-color: #e5524a;
$secondary-color: #facd66;
$tertiary-color: #a4c7c6;
$grey-color: #efeee0;
$dark-color: #1d2123;

// Screen-width
$mobile-screen: 375px;
$tablet-screen: 768px;
$medium-screen: 1200px;
$large-screen: 1440px;

// Transitions
$basic-transition: all 0.1s ease-in-out;
